In [ ]:
# Ejemplo de Pandas y DataSet

In [2]:
import pandas as pd
import numpy as np

In [3]:
# URL directa al archivo CSV en el repositorio p√∫blico
url = "https://raw.githubusercontent.com/JoseMariaPY/fundamentos-analisis-datos/master/pandas-example-1/Online_Retail.csv"

# Leer el archivo CSV directamente desde la URL
df = pd.read_csv(url, encoding='latin1')

# Mostrar las primeras filas del dataframe
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [ ]:
data = np.array([[1,2,3], [4,5,6],[7,8,9]])
df_from_array = pd.DataFrame(data, columns=['A','B','C'])
print(df_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
data = [[1,'carlos',3], [4,'juan',6],[7,'Jose',9]]
df_from_list = pd.DataFrame(data, columns=['ID','NOMBRE','EDAD'])
print(df_from_list)

   ID  NOMBRE  EDAD
0   1  carlos     3
1   4    juan     6
2   7    Jose     9

In [ ]:
data_dict ={'id':[1,2,3], 'nombre': ['maria', 'mirtha', 'elizabeth'], 'edad':[30, 20, 18] }
df_dict = pd.DataFrame(data_dict)
print(df_dict)

   id     nombre  edad
0   1      maria    30
1   2     mirtha    20
2   3  elizabeth    18

In [ ]:
data_series ={
    'id':pd.Series([1,2,3]),
    'nombre': pd.Series(['maria', 'mirtha', 'elizabeth']),
    'edad': pd.Series([30, 20, 18])
}
df_series_dict = pd.DataFrame(data_series)
print(df_series_dict)

   id     nombre  edad
0   1      maria    30
1   2     mirtha    20
2   3  elizabeth    18

In [ ]:
# ver las columnas
columnas=df.columns
num_rows, num_columns = df.shape
print(columnas)
print(f'N√∫mero de filas {num_rows} y el n√∫mero de columnas es {num_columns} ')

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')
N√∫mero de filas 541909 y el n√∫mero de columnas es 8

In [ ]:
summary = df.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
print(summary.mean())

Quantity      67768.829176
UnitPrice     71240.721371
CustomerID    62544.911359
dtype: float64

In [ ]:
# iloc : obtener una posicion o fila
first_row = df.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [ ]:
first_five_row = df.iloc[:5]
print(first_five_row)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [ ]:
detail = df.iloc[:5, :2]
print(detail)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
3    536365    84029G
4    536365    84029E

In [ ]:
# usando loc
price_detail = df.loc[:5, ['Quantity', 'UnitPrice']]
print(price_detail)

   Quantity  UnitPrice
0         6       2.55
1         6       3.39
2         8       2.75
3         6       3.39
4         6       3.39
5         2       7.65

In [6]:
# Datos Faltantes
datos_faltantes = df.isna()
cant_faltantes = df.isna().sum()
print(f'Cantidad de datos faltantes: {cant_faltantes}')
# llenaremos los datos faltantes con ceros
data_fillet_zeros = df.fillna(0)
# consultamos la cantidad de datos faltantes si existen por columnas
count_data_fillet_zeros = data_fillet_zeros.isna().sum()
print(f'Cantidadd de datos faltantes ahora: {count_data_fillet_zeros}')

Cantidad de datos faltantes: InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
Cantidadd de datos faltantes ahora: InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [8]:
# llenando con la media los datos faltantes
unit_price_mean = df['UnitPrice'].mean()
print(f'Media de UnitPrice: {unit_price_mean}')
data_filled_mean = df['UnitPrice'].fillna(unit_price_mean)
print(data_filled_mean)

Media de UnitPrice: 4.611113626088513
0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

In [9]:
df['TotalPrice'] = df['UnitPrice'] * df['Quantity']
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34

In [10]:
# convertir el invoicedate a fecha
print(df.info())
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 37.2+ MB
None

<ipython-input-10-ab3a64266eb2>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.2+ MB
None

In [11]:
df['DiscountedPrice'] = df['UnitPrice'].apply(lambda x: x* 0.9)
print(df.head(3))

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                 WHITE METAL LANTERN         6
2    536365    84406B      CREAM CUPID HEARTS COAT HANGER         8

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00

   DiscountedPrice
0            2.295
1            3.051
2            2.475

In [16]:
# groupby
country_count = df['Country'].value_counts()
#print(country_count)
# agrupar por paises y traer la sumatoria de la cantidad
country_quantity = df.groupby('Country')['Quantity'].sum()
print(country_quantity)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [19]:
country_stock_group = df.groupby(['Country','StockCode'])['Quantity'].sum()
print(country_stock_group)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [23]:
def total_revenue(group):
  return (group['Quantity']*group['UnitPrice']).sum()

revenue_per_country = df.groupby('Country').apply(total_revenue)

#print('Total por pais')
#print(revenue_per_country)

revenue_per_country = revenue_per_country.reset_index(name='TotalRevenue')
revenue_per_country_sorted = revenue_per_country.sort_values(by='TotalRevenue', ascending=True)
print('Ordenado ascendente')
print(revenue_per_country_sorted)
print("Pa√≠ses con las peores ventas: ", revenue_per_country_sorted.head(3))
print("Pa√≠ses con las peores ventas: ", revenue_per_country_sorted.tail(3))

Ordenado ascendente
                 Country  TotalRevenue
29          Saudi Arabia       131.170
2                Bahrain       548.400
8         Czech Republic       707.720
28                   RSA      1002.310
4                 Brazil      1143.600
11    European Community      1291.750
22             Lithuania      1661.060
21               Lebanon      1693.880
34                   USA      1730.920
35  United Arab Emirates      1902.280
23                 Malta      2505.470
5                 Canada      3666.380
17               Iceland      4310.000
15                Greece      4710.520
37           Unspecified      4749.790
26                Poland      7213.140
18                Israel      7907.820
30             Singapore      9120.390
16             Hong Kong     10117.040
1                Austria     10154.320
7                 Cyprus     12946.290
19                 Italy     16890.510
9                Denmark     18768.140
6        Channel Islands     20086.290
12               Finland     22326.740
27              Portugal     29367.020
25                Norway     35163.460
20                 Japan     35340.620
32                Sweden     36595.910
3                Belgium     40910.960
31                 Spain     54774.580
33           Switzerland     56385.350
0              Australia    137077.270
13                France    197403.900
14               Germany    221698.210
10                  EIRE    263276.820
24           Netherlands    284661.540
36        United Kingdom   8187806.364
Pa√≠ses con las peores ventas:             Country  TotalRevenue
29    Saudi Arabia        131.17
2          Bahrain        548.40
8   Czech Republic        707.72
Pa√≠ses con las peores ventas:             Country  TotalRevenue
10            EIRE    263276.820
24     Netherlands    284661.540
36  United Kingdom   8187806.364