In [ ]:
# Ejemplo de Pandas y DataSet

In [6]:
import pandas as pd
import numpy as np

In [4]:
# URL directa al archivo CSV en el repositorio p√∫blico
url = "https://raw.githubusercontent.com/JoseMariaPY/fundamentos-analisis-datos/master/pandas-example-1/Online_Retail.csv"

# Leer el archivo CSV directamente desde la URL
df = pd.read_csv(url, encoding='latin1')

# Mostrar las primeras filas del dataframe
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [9]:
data = np.array([[1,2,3], [4,5,6],[7,8,9]])
df_from_array = pd.DataFrame(data, columns=['A','B','C'])
print(df_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
data = [[1,'carlos',3], [4,'juan',6],[7,'Jose',9]]
df_from_list = pd.DataFrame(data, columns=['ID','NOMBRE','EDAD'])
print(df_from_list)

   ID  NOMBRE  EDAD
0   1  carlos     3
1   4    juan     6
2   7    Jose     9

In [11]:
data_dict ={'id':[1,2,3], 'nombre': ['maria', 'mirtha', 'elizabeth'], 'edad':[30, 20, 18] }
df_dict = pd.DataFrame(data_dict)
print(df_dict)

   id     nombre  edad
0   1      maria    30
1   2     mirtha    20
2   3  elizabeth    18

In [13]:
data_series ={
    'id':pd.Series([1,2,3]),
    'nombre': pd.Series(['maria', 'mirtha', 'elizabeth']),
    'edad': pd.Series([30, 20, 18])
}
df_series_dict = pd.DataFrame(data_series)
print(df_series_dict)

   id     nombre  edad
0   1      maria    30
1   2     mirtha    20
2   3  elizabeth    18

In [17]:
# ver las columnas
columnas=df.columns
num_rows, num_columns = df.shape
print(columnas)
print(f'N√∫mero de filas {num_rows} y el n√∫mero de columnas es {num_columns} ')

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')
N√∫mero de filas 541909 y el n√∫mero de columnas es 8

In [18]:
summary = df.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [19]:
print(summary.mean())

Quantity      67768.829176
UnitPrice     71240.721371
CustomerID    62544.911359
dtype: float64

In [20]:
# iloc : obtener una posicion o fila
first_row = df.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [21]:
first_five_row = df.iloc[:5]
print(first_five_row)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [22]:
detail = df.iloc[:5, :2]
print(detail)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
3    536365    84029G
4    536365    84029E

In [25]:
# usando loc
price_detail = df.loc[:5, ['Quantity', 'UnitPrice']]
print(price_detail)

   Quantity  UnitPrice
0         6       2.55
1         6       3.39
2         8       2.75
3         6       3.39
4         6       3.39
5         2       7.65